@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Jua', sans-serif;
    --light-yellow: #FFF5D5;
    --yellow: #FFE79E;
    --light-blue: #8DBFEB;
    --mid-blue: #5D9DD1;
    --dark-blue: #3678B3;
    --purple: #313866;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90vh;
    max-height: 100vh;
    background-color: var(--dark-blue);
}

main {
    /* --mobile_margin: 1.25rem;
    margin: var(--mobile_margin); */
    width: 90%;
    height: 85vh;
    background: var(--mid-blue);
    border: 1px solid var(--light-yellow);
    box-shadow: inset 0px 4px 69px -22px rgba(49, 56, 102, 0.2);
    border-radius: 1.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-bottom: 0;
    width: 80%;
}

header img {
    width: 100%;
    max-width: 600px;
    height: 4rem;
    object-fit: cover;
    border-radius: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: var(--light-yellow);
}

.title h1, h3 {
    margin: 1rem 0;
}

.title hr {
    margin: 0;
    width: 70%;
}

.buttons-and-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    color: var(--light-yellow)
}

.work-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    width: 95%;
}

.work-buttons button {
    width: 90%;
    height: 5rem;
    background: var(--mid-blue);
    box-shadow: inset 0px 0px 20px rgba(56, 62, 104, 0.2);
    border: 5px solid var(--light-blue);
    border-radius: 50px;
    font-size: 2rem;
    /* identical to box height */
    line-height: 40px;
    font-family: 'Jua', sans-serif;
    color: var(--light-yellow);
}

.work-buttons button:hover {
    background-color: var(--light-blue);
    box-shadow: none;
}

.work-buttons button:active {
    background-color: var(--dark-blue);
    border: var(--light-yellow);
    box-shadow: inset 0px 0px 20px rgba(56, 62, 104, 0.2);
}

.socials {
    width: 80%;
}

.socials ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.socials ul li{
    --logo-height: 3rem;
    height: var(--logo-height);
    width: var(--logo-height);
}

#behance {
    height: calc(var(--logo-height) * 1.2);
    width: calc(var(--logo-height) * 1.2);
}

svg {
    fill: var(--light-yellow);
}

svg:hover {
    fill: var(--light-blue);
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 4rem;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--purple);
    border-radius: 1.9rem 1.9rem 0 0;
    transition: height 250ms ease-out;
}

.expand {
    height: 80%;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Anonymous Pro', monospace;
}

.mobile h2{
    line-height: 2rem;
}

.about-me h2 {
    color: var(--dark-blue);
}

.about-me p {
    color: var(--light-yellow);
    font-family: 'Jua', monospace;
    font-size: 1.5rem;
    width: 75%;
}

.about-me h2:hover {
    color: var(--mid-blue);
}

.desktop {
    display: none;
}

@media only screen and (min-width: 490px) {
    .desktop {
        display: inline;
    }


}